<div class="container">
  <footer class="footer-main">

    <a class="hashtag" href="#">#visitsedona</a>

    <ul class="social">
      <li class="social__item">
        <a class="button" href="#">
          <span class="g-hidden">Твиттер</span>
        </a>
      </li>
      <li class="social__item">
        <a class="button" href="#">
          <span class="g-hidden">Фэйсбук</span>
        </a>
      </li>
      <li class="social__item">
        <a class="button" href="#">
          <span class="g-hidden">Youtube</span>
        </a>
      </li>
    </ul>

    <div class="copyright">
      <b class="copyright__text">Разработано</b>
      <a class="copright__icon" href="#">
        <span class="g-hidden">Html academy</span>
      </a>
    </div>

  </footer>
</div>